<div class="container">
    <button class="btn btn-danger float-right my-4" (click)="open(content)">New Item</button>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of shoppingListMock; let i = index">
            <th>{{i+1}}</th>
            <th>{{item.description}}</th>
            <th>{{item.unit}}</th>
            <th>{{item.price}}</th>
        </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">New Item to Cart</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="description">Description</label>
                <ng-select id="description" [items]="listItems"
                            bindLabel="name"
                            binValue="id"
                            placeholder="Select an item">
                </ng-select>               
              </div>
              <div class="form-group">
                <label for="quantity">Quantity</label>
                    <div class="input-group">
                        <input type="number" min="0" class="form-control" id="quantity" name="quantity"/>
                    </div>
                </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
      </ng-template>
          